<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Leave a Comment</h4>
        <p>You can leave a comment using this comment form</p>
        <form action="#" #commentForm ="ngForm" (ngSubmit)="onComment(commentForm.value)">
            <div class="form-group"><label for="">Name</label>
            <input type="text" name="name" class="form-control shadow-effect" required placeholder="Enter Your Name" id="" ngModel #Name="ngModel" [ngClass]="{'is-invalid':Name.touched && Name.invalid}" >
            <div class="alert alert-danger" *ngIf="Name.touched &&  commentForm.controls['name'].hasError('required')">Name Cannot be Empty</div>
            </div>
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea name="comment" required class="form-control shadow-effect" placeholder="Enter Your Comment Here" cols="30" ngModel #comment="ngModel" rows="10" [ngClass]="{'is-invalid':comment.touched && comment.invalid}"></textarea>
            <div class="alert alert-danger" *ngIf="comment.touched &&  commentForm.controls['comment'].hasError('required')">Comments Cannot be Empty</div>
                
            </div>
            <button class="btn btn-info btn-theme mt-2" [disabled]="commentForm.invalid">Add a Comment </button>
        </form>
    </div>
</div>