<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>

        <div class="p-5 mt-4 bg-theme-secondary text-theme-primary">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, dolorum ab minima soluta molestias libero velit architecto numquam distinctio adipisci doloremque iusto facere, maiores, ipsum itaque nam? Necessitatibus reprehenderit voluptatibus perspiciatis adipisci provident nobis laboriosam maxime! Commodi libero fugit enim magnam ipsam, voluptas perferendis esse iusto soluta aliquam incidunt excepturi eaque ullam accusantium illo, cumque architecto sunt consequatur adipisci eligendi.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, dolorum ab minima soluta molestias libero velit architecto numquam distinctio adipisci doloremque iusto facere, maiores, ipsum itaque nam? Necessitatibus reprehenderit voluptatibus perspiciatis adipisci provident nobis laboriosam maxime! Commodi libero fugit enim magnam ipsam, voluptas perferendis esse iusto soluta aliquam incidunt excepturi eaque ullam accusantium illo, cumque architecto sunt consequatur adipisci eligendi.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, dolorum ab minima soluta molestias libero velit architecto numquam distinctio adipisci doloremque iusto facere, maiores, ipsum itaque nam? Necessitatibus reprehenderit voluptatibus perspiciatis adipisci provident nobis laboriosam maxime! Commodi libero fugit enim magnam ipsam, voluptas perferendis esse iusto soluta aliquam incidunt excepturi eaque ullam accusantium illo, cumque architecto sunt consequatur adipisci eligendi.</p>
            <div class="text-center">
            <button class="btn btn-info btn-sm mt-4 ">Back To Home</button>
        </div>
        </div>
    </div>
</section>