<div class="container" >
    <div class="row">
        <div class="col-md-12 mb-5" routerLink="/myposts">
            <div class="card shadow-effect">
                <div class="card-body text-center bg-theme-secondary">
                    <h1 class="text-theme-primary"><i class="fa fa-file"></i></h1>
                    <h2 class="text-theme-primary">Posts</h2>
                    <p>Manage Your Posts Here</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-5" routerLink="comments">
            <div class="card shadow-effect">
                <div class="card-body text-center bg-theme-secondary">
                    <h1 class="text-theme-primary"><i class="fa fa-comments"></i></h1>
                    <h2 class="text-theme-primary">Comments</h2>
                    <p>Manage Your Comments Here</p>
                </div>
            </div>
        </div>
    </div>
</div>
