.featured-section{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: var(--primary-color);
}

.latest-section{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}