<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>

        <div class="p-5 mt-4 bg-theme-secondary text-theme-primary">
            <h2>
                Welcome to TechBlogApp ! </h2>

            <h5>Introduction</h5>
            <p>
                At TechBlogApp, we're passionate about all things tech. Whether you're a seasoned developer, a curious
                gadget enthusiast, or someone looking to stay updated on the latest tech trends, you've come to the
                right place. Our mission is to provide you with insightful articles, reviews, tutorials, and news to
                keep you informed and inspired in the fast-paced world of technology.
            </p>
            <h5>What Sets Us Apart</h5>
            <p>
                What sets us apart from other tech blogs is our dedication to delivering high-quality content that is
                both informative and engaging. Our team of experts scours the tech landscape to bring you the most
                relevant and compelling stories. From in-depth analyses of emerging technologies to hands-on reviews of
                the newest gadgets, we strive to provide content that resonates with tech enthusiasts of all levels.
            </p>
            <h5>Community</h5>
            <p>
                But TechBlogApp is more than just a platform for consuming content – it's a thriving community of
                like-minded individuals who share a passion for technology. Whether you're looking to connect with
                fellow enthusiasts, seek advice from experts, or simply engage in lively discussions, our community is
                here to welcome you with open arms.
            </p>
            <h5>Our Commitment</h5>
            <p>
                We are committed to transparency, integrity, and excellence in everything we do. Your trust is important
                to us, which is why we adhere to strict editorial standards and strive to provide accurate and unbiased
                information at all times. Whether you're reading our articles, participating in discussions, or
                interacting with our team, you can trust that your experience with TechBlogApp will always be top-notch.
            </p>

            <p>
                Get started now by visiting our website. Let's explore the future of tech together!
            </p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 " routerLink="/">Back To Home</button>
            </div>
        </div>
    </div>
</section>