<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comments ({{commentData?.length}})
        </h4>
        <div *ngFor="let comment of commentData">
        <div class="comment-box mt-3">
            <h6 class="mb-0">{{ comment.data.name}}</h6>
            <small class="text-danger">LAST UPDATED - {{comment.data.createdAt.toMillis() | date}}</small>
            <div class="mt-3 mb-3">{{comment.data.comment}}</div>
            <!-- <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 p-2">View Reply</a> -->
        </div>
        </div>
    </div>
</div>