.card {
    background-color: var(--secondary-color);
    width: 100%;
}

input[type=text], input[type=email]{
    height: 40px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
    
}


.subs-text {
    width: 70%;
}