<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit doloribus assumenda ut illo natus nesciunt! Minima in ex tempore asperiores? Et eius atque corporis molestiae, cum autem cupiditate tempora harum quos explicabo at illo.</p>
            <form action="#" class="form-inline mb-5 mt-5">
                <div class="container-fluid row">
                <div class="form-group col-md-5 shadow-effect">
                    <input type="text" name="" class="form-control" placeholder="Your Name">
                </div>
                <div class="form-group col-md-5 shadow-effect">
                    <input type="email" name="" class="form-control" placeholder="Email Address">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-theme">SUBSCRIBE</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>