<div class="card shadow-effect">
  <img class="card img-top" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center p-2">Featured</small>
    <small class="bg-light text-info text-center p-2">Views -1000</small>


    <h5 class="mt-1">How To Start Blog in 2023</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est enim optio facilis facere incidunt cupiditate ipsam sit in porro, ipsa quasi fuga. A, debitis excepturi.</p>
    <small class="bg-light text-warning text-center ml-3">Last Updated - DEC 16, 2023</small>

  </div>
</div>


<!-- 
<div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bologna">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm">Coding</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Cometitive Programming</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">I love to do code so much.</p>
            <a href="#" class="btn btn-info">Read more</a>
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
                 <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>
             
          </div>
        </div>
      </div>
    </div>
  </div> -->