<div class="bg-theme p-5">
    <div class="container">
    <h1 class="text-white">
        {{category}}
    </h1>
    <p class="text-white">In this section, All the post are realted to {{category}}.</p>
</div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-4 mt-3" *ngFor="let cpost of categoryPostArray"><app-post-card [postData]="cpost"></app-post-card></div>
        <div class="col-md-12 mt-3" style="justify-content: center;" *ngIf="categoryPostArray.length == 0"><h5>No post has been created in this category yet ! you can create one <a href="/myposts/create-post">here</a></h5>
         
        </div>
    </div>
</div>